* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #121d21;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}
img {
    max-width: 50em;
}
button {
    height: 2em;
    font-size: 1em;
    background-color: #d65353;
    border: 1px solid #28364a;
    border-radius: 4px;
    font-family: "Alata";
    cursor: pointer;
    margin: 0 auto;
    width: 80%;
    color: #fff;
    margin-top: 2em;
    margin-bottom: 2em;
}
/*------- header/profile styling */
#profile-card-grouper {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
#profile-card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    min-width: 22em;
    margin-right: 2em;
}
#me-panel {
    margin-bottom: 1.2em;
    max-height: 11.05em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#me-panel h4 {
    color: #ffeecb;
    font-size: 1.1em;
    font-family: "Alata";
    font-weight: normal;
}
#writing-panel {
    width: 50%;
    align-items: center;
    /* background-color: #013A40; */
}
#writing-panel h5 {
    color: #dfe3e8;
    /* background-color: #28364a; */
    margin-top: .4em;
    margin-bottom: .5em;
    font-family: "Arial";
}
#writing-list {
    list-style: none;
    font-family: "Courier Prime";
}
#writing-list li {
    background-color: #f7c45f;
    margin: 0;
    color: #28364a;
    margin-bottom: .4em;
    padding: 0;
}
#me-panel img {
    /* border-radius: 50%; */
    margin-top: .8em;
    margin-bottom: 0.5em;
    background-color: #d65353;
    width: 5em;
    border: 4px solid #c38f8f;
    box-sizing: content-box;
}
#me-panel h2 {
    color: #28364a;
    font-family: "Alata";
    background-color: #ffeecb;
    width: 100%;
    margin: .2em;
    text-align: center;
}
/*------- projects styling */
#projects-grouper {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-sizing: content-box;
    border: 2px solid black;
    padding: 2em;
    border-radius: 5px;
}
.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3em;
    min-height: 10em;
}
.left-project-tile {
    /* border: 1px solid red; */
    width: 40%;
}
.right-project-tile {
    /* border: 1px solid green; */
    width: 40%;
    min-width: 18em;
}
.right-project-tile h3 {
    color: #feedd0;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-family: "Alata";
    border-bottom: 2px solid #f7c45f;
    font-weight: normal;
}
.right-project-tile p {
    color: #feedd0;
    font-size: .8em;
    font-family: "Courier Prime", monospace;
}
.right-project-links {
    text-decoration: none;
    padding: .5em;
    margin-top: .4em;
    text-align: center;
}
.right-project-links a {
    padding: .37em;
    border: 1px solid #28364a;
    border-radius: 4px;
    background-color: #d65353;
    font-family: "Alata";
}
.project-description {
    background-color: #c38f8f;
    padding: .2em;
    font-family: "Alata";
    color: #1c2633;
    border-radius: 4px;
}
#project-header {
    color: #D65353;
    background-color: #3a3a3a;
    width: 2em;
    font-size: 5em;
    margin-top: .1em;
    left: 0;
    font-family: "arial";
}
.project-title {
    color: #28364a;
    font-size: 1.2em;
    padding: .4em;
    background-color: #ffeecb;
    display: inline-block;
    font-family: "Alata";
    border-radius: .2em;
}
.project-blurb {
    color: #feedd0;
    font-family: "Alata";
    font-size: 1.1em;
    margin: .2em;
}

/*------- right tile of projects styling */
.technologies-list p {
    border: 1px solid #525252;
    padding: .17em;
    border-radius: 4px;
    display: inline-block;
    font-size: 1em;
    margin: .1em;
    color: white;
}
/* yes I know this is a hot mess but I'm not sure what I'm going for here yet*/
#s1 {
    background-color: #0b8a8a;
}
#s2 {
    background-color: #F26A4B;
}
.javascript-p {
    background-color: #F23D3D;
}
.jquery-p {
    background-color: #777676;
}
#s5 {
    background-color: coral;
}
#s6 {
    color: white;
    background-color: #0b8a8a;
}
#s7 {background-color: #0b8a8a;}
#s8 {
    background-color: #F23D3D;
}
#s9 {
    color: white;
    background-color: gray;
}
#s10 {
    background-color: #F23D3D;
}
#s13 {
    background-color: #F26A4B;
}

/*------- project screenshots styling */
.slide-up, .slide-down {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.slide-down {
    max-height: 87em;
}
#proj1-screenshots, #proj2-screenshots {
    background-color: #c38f8f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#proj1-screenshots img, #proj2-screenshots img {
    width: 47%;
    min-width: 18em;
    margin-top: .5em;
    margin-bottom: .5em;
}

/*------- call to action styling */
#cta-group {
    border: 1px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}
#cta-group h3 {
    font-size: 5em;
    font-family: "Alata";
    color: #3a3a3a;
    background: linear-gradient(to left, #f7c45f 0%, #0b8a8a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cta-group h4 {
    font-size: 2em;
    font-family: "Alata";
    color: #3a3a3a;
    text-decoration: underline;
}
/*------- footer styling */
footer {
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
footer a {
    border: 1px solid #28364a;
    margin: 1em;
    height: 3em;
    padding: 0.3em;
    display: flex;
    align-items: center;
    font-family: "Alata";
    border-radius: 4px;
}

/* responsive styles/media queries */
@media only screen and (max-width: 650px) {
    #project-header {
        font-size: 4em;
    }
    .project-card {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .left-project-tile {width: 76%;}
    .right-project-tile {
        margin-top: 1em;
        width: 76%;
    }
    .project-blurb {
        margin-top: 1em;
    }
    .right-project-links {
        text-align: left;
    }
    #cta-group h3 {
        font-size: 4em;
    }
    #cta-group h4 {
        font-size: 1em;
    }
    #projects-grouper {
        width: auto;
        border: none;
    }
}